<h1>About Page</h1>

<div fxFlex [style.margin]="'20px'">
    <mat-card [style.min-width]="'200px'">
        <mat-card-header>
            <mat-card-title>About Ranveer - the developer</mat-card-title>
            <mat-card-subtitle>I am a computer programming student from (M9W 2A3), Etobicoke, ON and my objective is to be associated with a progressive Internship that provides an opportunity to apply my knowledge and skills in order to keep abreast with latest trends and technologies.
                Have a look on my few Projects...
              </mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</div>
<br>
<div fxFlex [style.margin]="'20px'">
    <mat-card [style.min-width]="'200px'">
        <mat-card-header>
            <mat-card-title>Account ticketing UI made using C language</mat-card-title>
            <mat-card-subtitle>Academic Project</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-chip>Features that provide user to work as customer or admin through a main menu that works on fake database and accessed by a reading file. Customer can review details and manage own account whereas admin can manage all accounts.
            </mat-chip>
        </mat-card-content>
        <mat-card-footer>
            <mat-card-subtitle>Semester 1</mat-card-subtitle>
        </mat-card-footer>
    </mat-card>
</div>
<div fxFlex [style.margin]="'20px'">
    <mat-card [style.min-width]="'200px'">
        <mat-card-header>
            <mat-card-title>Pre-Triage application made using C++ language</mat-card-title>
            <mat-card-subtitle>Academic Project</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-chip>A simple application aimed to prevent spread of Covid-19 by separating people who need to get Covid-19 test with triage people. Application also let people know about expected waiting time and when they can be admitted to prevent lineups.
            </mat-chip>
        </mat-card-content>
        <mat-card-footer>
            <mat-card-subtitle>Semester 2</mat-card-subtitle>
        </mat-card-footer>
    </mat-card>
</div>
<div fxFlex [style.margin]="'20px'">
    <mat-card [style.min-width]="'200px'">
        <mat-card-header>
            <mat-card-title>Food Delivery web application made using JavaScript language</mat-card-title>
            <mat-card-subtitle>Academic Project</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-chip>A home delivery meal-kit web application hosted online where user can sign up and login as choice of clerk or customer. As a clerk user can add and update database that contain meal-kits and as a customer user can add meal-kits to cart for checkout. After placing order an overview of details is send to registered customer on mail.
            </mat-chip>
        </mat-card-content>
        <mat-card-footer>
            <mat-card-subtitle>Semester 3</mat-card-subtitle>
        </mat-card-footer>
    </mat-card>
</div>
<div fxFlex [style.margin]="'20px'">
    <mat-card [style.min-width]="'200px'">
        <mat-card-header>
            <mat-card-title>Treasure Hunt game made using C++ language</mat-card-title>
            <mat-card-subtitle>Self Project</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-chip>A simple game that can be played as single player or multiplayer. User is asked for lives and total available moves. Game ends until all moves or lives get finished. When player find bomb lives decreases by 1, similarly when find treasure point increases by 1.
            </mat-chip>
        </mat-card-content>
        <mat-card-footer>
            <mat-card-subtitle>Ranveer</mat-card-subtitle>
        </mat-card-footer>
    </mat-card>
</div>
